*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 0.5rem;
}

.diagnostic-impression {
  position: relative;
}

.diagnostic-impression__matches {
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 60px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cie10-match {
  border: none;
  background-color: transparent;
  display: flex;
  width: 100%;
  border-bottom: 1px solid;
  border-radius: 0;
  text-align: left;
}

.cie10-match:last-child {
  border-bottom: none;
}

.cie10-match__index {
  width: 10%;
}

.cie10-match__code {
  width: 30%;
}

.cie10-match__name {
  width: 60%;
}

/* New app styles */

.clinic-history {

}

.clinic-history__title {
  color: #333;
}

.clinic-history__fieldset {
  margin-bottom: 2.5rem;
}

.input-row {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.input-row__item {
  padding-top: 0.5rem;
  padding-right: 1rem;
}

.input-row__item:last-child {
  padding-right: 0;
}

.input-text {
  width: 100%;
  margin-top: 0.5rem;
}

.input-text__label {
  margin-top: 0;
  letter-spacing: 1px;
  font-size: 1rem;
  color: #333;
  display: block;
  margin-bottom: 4px;
}

.input-text__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  font-size: 1.2rem;
}

.input-text__input:focus {
  outline: none;
}

.input-date-wrapper {

}

.input-date-wrapper .react-datepicker-wrapper,
.input-date-wrapper .react-datepicker__input-container {
  width: 100%;
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.fieldset__title {
  border-bottom: 4px solid #404040;
  color: #404040;
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 5px;
  width: 100%;
  margin-bottom: 1rem;
}

.fieldset__children {

}

.diagnostic-impression-item {
  display: flex;
  margin-top: 0.8rem;
  justify-content: space-between;
}

.diagnostic-impression-item__code {
  width: calc(35% - 1rem);
}

.diagnostic-impression-item__name {
  width: calc(35% - 1rem);
}

.diagnostic-impression-item__type-container {
  width: calc(20% - 1rem);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.diagnostic-impression-item__type {
  width: 100%;
  height: 26px;
}

.diagnostic-impression-item__close-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 10%;
}

.diagnostic-impression-item__close {
  width: 100%;
  padding: 0.4rem;
  border-radius: 4px;
  background-color: rgb(170, 52, 52);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
